body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffffe;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.site-container {
  margin: 0 auto;
  width: 90%;
  padding-top: 70px;
}

.QC-flex {
  display: inline-flex;
}

.PC-flex {
  display: inline-flex;
}

.scree-plot {
  height: 450px;
  width: 370px;
}

.biplot {
  height: 450px;
  width: 480px;
}

.tsne-plot {
  height: 450px;
  width: 500px;
}

.icon-404 {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

@media only screen and (max-width: 950px) {
  .QC-flex {
    display: grid;
  }
}

@media only screen and (max-width: 600px) {
  .tsne-plot {
    height: 380px;
    width: 420px;
  }

  .icon-404 {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

  .site-container {
    margin: 0 auto;
    width: 92%;
    padding-top: 170px;
  }
}

@media only screen and (max-width: 1050px) {
  .PC-flex {
    display: grid;
  }

  .scree-plot {
    height: 400px;
    width: 420px;
  }

  .biplot {
    margin-top: 20px;
    height: 400px;
    width: 420px;
  }
}
